body {
    padding: none;
    margin: none;
    background: black;
    color: white;
    font-family: monospace;
}

.terminal {
    --size: 1.5;
}

a:visited {
    color: white;
}

a {
    color: blue;
}

header {
    height: 2em;
    vertical-align: middle;
    margin: none;
    font-size: 1.5em;
}

#terminal {
    height: calc(90vh - 2em);
    padding: none;
    margin: none;
}