body {
    padding: none;
    margin: none;
    background: black;
    color: white; 
    font-family: monospace;
}

a:visited {
    color: magenta;
}

a {
    color: white;
}

header {
    height: 2em;
    vertical-align: middle;
    margin: none;
}

#terminal {
    height: calc(90vh - 2em);
    padding: none;
    margin: none;
}